bin
obj
/src/XmlContentTranslator/XmlContentTranslator.csproj.DotSettings
/src/XmlContentTranslator/XmlContentTranslator.zip
/src/.vs/XmlContentTranslator/v15
/src/.vs/XmlContentTranslator
/xct.pdn
/xct.png
/xct2.ico
